{% extends "base.jinja" %}

{% block content %}
<main>
    <h2 style=font-weight: bold;>Category List</h2>

    <!-- display a table of categories -->
    {% if categories %}
        <table class="table table-striped w-auto">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.CategoryName }}</td>
                    <td>
                            <form method="post" action="{{ url_for('delete_category') }}">
                                <input name="category_id" type="hidden" value="{{ category.CategoryID }}">
                                <input type="submit" class="btn btn-secondary" value="Delete">
                            </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}

    {% else %}
        <div> There are no categories.</div>
    {% endif %}


        <div>
        <h2 style=font-weight: bold;">Add Category</h2>
        <form method="post" action="{{ url_for('category_list') }}">
            <div class="form-group row">
                <label for="category_name" class="col-sm-1">Name:</label>
                <div class="col-sm-1">
                    <input type="text" id="category_name" name="category_name">
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Add Category</button>
        </form>
    </div>

        {% if emptyError %}
            <p style="color: red;">{{ emptyError }}</p>
        {% endif %}

        {% if existsError %}
            <p style="color: red;">{{ existsError }}</p>
        {% endif %}


    <div class="mt-5">
        <a href="{{ url_for('product_list') }}" class="btn btn-primary">View Product List</a>
    </div>
</main>
{% endblock %}